.footers p{
	font-family: roboto;
	color: white;
	display: flex;
    justify-content: space-around;
    text-align: : center;
}

.footers{
	width: 100%;
	height: 70px;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}
